*{
    margin: 0;
    padding: 0;
}
.band{
    width: 1280px;
    margin: auto;
}
body{
    background-color: #282828;
}
li{
    list-style: none;
}
.header{
    height: 66px;
    background-color: #fff;
}
/* logo */
.logo{
    float: left;
    width: 255px;
    height: 66px;
    background-color: #1e2933;
}
.logo img{
    margin-left: 81px;
    margin-top: 26px;
}
/* 搜索 */
.searchlogo{
    float: left;
    width: 37px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #e3e6ee;
    margin-top: 15px;
    margin-left: 30px;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.searchlogo img{
    padding-left: 14px;
    padding-top: 11px;
}
.search{
    float: left;
    width: 772px;
    height: 66px;
    background-color: #fff;
}
.search input{
    width: 761px;
    height: 35px;
    border: 1px solid #e3e6ee;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #9ba4b0;
    font-size: 16px;
    margin-top: 15px;
    padding-left: 10px;
}
.guoji{
    float: left;
    width: 127px;
    height: 37px;
    border: 1px solid #e3e6ee;
    border-radius: 5px;
    margin-top: 14px;
    margin-bottom: 15px;
    margin-left: 29px;
}
.guoji img{
    margin-top: 10px;
    margin-left: 13px;
}
/* 左列 */
.leftcolumn{
    float: left;
    width: 255px;
    height: 953px;
    background: url(img/zuobg.jpg);
}
.professor{
    height: 86px;
    border: 1px solid #282828;
}
.professor img{
    margin-top: 25px;
    margin-left: 25px;
}
#ming{
    display: inline;
    float: right;
    font-size: 16px;
    color: #fff;
    margin-right: 118px;
    margin-top: 20px;
}
.professor #zhi{
    display: inline;
    float: right;
    font-size: 12px;
    color: #9aa3af;
    margin-right: 130px;
}
/* 列表 */
.liebiao{
    margin-left: 25px;
}
.liebiao .caidan{
    font-size: 12px;
    color: #9ba4b0;
    margin-top: 7px;
}
.liebiao .item1{
    width: 229px;
    height: 39px;
}
.liebiao .item1 img{
    padding-left: 12px;
    padding-top: 8px;
}
.liebiao .item1 span{
    display: inline;
    float: center;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.liebiao .bangzhu{
    font-size: 12px;
    color: #9ba4b0;
    margin-top: 30px;
    margin-bottom: 19px;
}
.liebiao .shezhi{
    font-size: 12px;
    color: #9ba4b0;
    margin-top: 30px;
    margin-bottom: 19px;
}
.liebiao #liaotian{
    background-color: #5965db;
    border-radius: 5px;
}
.liebiao #tu6{
    float: right;
    margin-top: 3px;
    margin-right: 24px;
}
/* 用户列表 */
.xiaoxi{
    float: left;
    width: 338px;
    height: 42px;
    background-color: #fff;
    border: 1px solid #eaedf3;
    margin: 0;
}
.xiaoxi span{
    display: inline-block;
    font-size: 14px;
    color: black;
    margin-top: 16px;
    margin-left: 30px;
}
.xiaoxi .xinxiaoxi{
    float: right;
    width: 100px;
    height: 24px;
    border-radius: 5px;
    background-color: #ebedfb;
    margin-right: 31px;
    margin-top: 9px;
    text-align: center;
    color: #5965db;
}
.xinchengyuan{
    float: left;
    width: 681px;
    height: 42px;
    border: 1px solid #eaedf3;
    background-color: #ebedfb;
}
.xinchengyuan span{
    display: inline-block;
    font-size: 14px;
    color: black;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 275px;
}
.xinchengyuan img{
    margin-right: 10px;
    margin-top: 10px;
}
/* 聊天列表 */
.chatliebiao{
    float: left;
    width: 342px;
    height: 908px;
    background-color: #fff;
}
.chatliebiao .item2{
    float: left;
    width: 340px;
    height: 115px;
    border: 1px solid #eaedf3;
}
.chatliebiao .item2 .tu{
    padding-left: 30px;
    margin-top: 27px;
}
.chatliebiao .item2 .tuh{
    padding-top: 27px;
}
.chatliebiao .item2 .tuy{
    float: left;
    margin-left: 26px;
    padding-top: 22px;
}
/* 对话框 */
.duihua{
    float: left;
    width: 683px;
    height: 937px;
    background-color: #fff;
}
.duihua .img1{
    float: left;
    margin-left: 30px;
    margin-top: 37px;
}
.duihua .img2{
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
.duihua .img3{
    float: left;
    margin-top: 12px;
    margin-left: 30px;
}
.duihua .img4{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.duihua .img5{
    float: left;
    margin-left: 30px;
    margin-top: 12px;
}
.duihua .img6{
    float: left;
    margin-left: 30px;
    margin-top: 13px;
}
.duihua .img7{
    margin-top: 28px;
}
